*{
    margin: 0%;
    padding: 0%;
}
.main{
    width: 100%;
    background:  url("sh1.jpg");
    background-position: center;
    background-size: cover;
    height: 50vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
    gap: 1rem;
    position: sticky;
}
.logo{
    color: #000;
    font-size: 25px;
    font-family: Arial;
    margin-left: -85px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 2px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #1f1c1a;
}
.sign{
    width: 100px;
    height: 35px;
    background: #113255;
    border: none;
    margin-top: 20px;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
    gap: 5rem;
   margin-left:150px;  
   
}
.sign:hover{
    background: #fff;
    color: #ff7200;
}
.sign a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.content{
    background:  url("sh1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0.5%;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: flex-start;
    width: 0px;
    height: 0px;
    padding: 0px;
    color: #0c1551;
    position:absolute;
    text-align: left;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par{
    padding-left: 40px;
    padding-bottom: 20px;
    font-family: Arial;
    letter-spacing: 1px;
    line-height: 15px;
    font-size: 12px;
    margin-left: 12px;
}
.content .para span{
    color: #0b0a49;
    font-size: 25px
}
.content h1{
    font-family: 'Times New Roman';
    font-size: 40px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
    
}
.content span{
    color: #0b0a49;
    font-size: 60px;
}


.content button{
    padding-left: 10px;
    padding-bottom: 10px;
    font-family: Arial;
    width: 100px;
    height: 30px;
    background: #113255;
    border: none;
    margin-top: 20px;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
    gap: 5rem;
   margin-left:150px;  
}
.content .button:hover{
    background: #fff;
    color: aqua;

}
.content.button a{

text-decoration: none;
    color: #fff;
    font-weight: bold;
}

 .imgg{
    width:389px;
    height:80px;
    margin:4px;
    padding: 50px;
    display:flexbox;
    position: absolute;
    

 }
 .imgg img{
    width:520px;
    height:420px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
 }
 .bttn{
   
    width: 100px;
    height: 35px;
    bottom: 540px;
    margin-top: 60px;
    font-size: 14px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    margin-left: 720px;
    background: rgb(63, 156, 156);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 10px;
    transition: all 0.4s ease 0s;
 }
 

 
 .icon a{
    text-decoration:none;
    color: #0b0e50;
 }
.icon {
    color: #0b1b4e;
    font-size: 40px;
    padding-left: 10px;
    padding-top: 50px;
    transition: 0.3s ease;
  /* margin-left:614px ;
   margin-top: 20px;
   gap:0%;*/
   
   
}
.icon .i:hover{
    color: #1b0303;
}

.welcome{
    font-family: 'Times New Roman';
    font-size: 40px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;

}
.welcome h2{
    width:500px;
    margin: 90px;
    margin-top: 120px;
    color:  rgb(191, 79, 165);
    font-size:32px ;
    padding-top: 20px;
    padding-left: 0px;

   
}
.welcome span{
    color: #000000;
    font-size: 48px;
}
.welcome p{
    width:529px;
    left: 80px;
    margin-top: 0px;
    position: relative; 
    font-size:16px ;
    padding-top: 2px;
    padding-left: 5px;
    color: #273158;
    display: list-item;

}

.container{
    width:1420px;
    margin-top: -400px;
    margin-left: 50px;
    border: 1px solid rgb(3, 28, 9);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 50px;

}


.trainning_item{
    background-color: #6da779;
    flex-basis:20%;
   box-shadow:0px 0px 10px 3px lightgrey ;
    text-align: center;
    margin: 10px 0px;
    padding:20px 0px;
 
}


.trainning_item img{
    width: 328px;
    height:620px;
    
}
.product_item{
    width:950px;
    height: 120px;
    padding:10px 0px;
    margin-bottom: 740px;
    display: flex;
    text-align: center;
    flex-direction: row;
    position: relative;
    color: #0e062c;
    justify-content: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
    bottom: -390px;
    left: 390px;
}
.trainning_item button{
    background: #081d2d;
    margin-top: 10px;
    padding:5px 20px;
    color:white;
    border: none;
    border-radius: 10px;

}
.trainning_item:hover{
    background: rgb(45, 143, 126);

}
.trainning_item:hover button{
    background: rgb(9, 76, 74);
    color: #0b0a49;

}
.trainning_item:hover h3,.trainning_item:hover p{
    color: rgb(10, 18, 109);
}
.box{
    width:80px;
    margin-top: 2360px;
    margin-left: 130px;
}
ul{
    list-style:none;
    color: #0b0a49;
}
.row{
    display: flex;
    flex-wrap:wrap ;
}


.footer{
    background-color: #fff;
    padding: 0px 8px;
    color: #081d2d;
    
}
.footer-col{
    width: 50%;
    padding: 15px 0;
    
}

.footer-col h4{
    width:1230px;
    font-size: 18px;
    color: #2f6b38;
    text-transform: capitalize;
    margin-top: 30px;
    margin-bottom:10px;
    font-weight: 500;
    position:relative;
    
    

}


.footer-col h4::before{
     content: '';
     position: absolute;
     left: 0;
     bottom:-10px;
     background-color:#9a3b66 ;
     height: 3px;
     box-sizing: border-box;
     width: 50px;
}

.contct{
   width:550px;
    margin-left: 200px;
    margin-bottom: 100px;
    background-color: #90c685;
}


